numpy
bs4
requests
scipy
matplotlib
pandas
streamlit
seaborn
pybase64
beautifulsoup4
openpyxl
webdriver-manager
selenium
plotly
Options
pandas==1.5.3  # Compatible avec Python 3.12
pandas==2.0.3  # Autre version stable
